.augieBtn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}



.augieBtn:hover {
  background: #495054;
  text-decoration: none;

}