/*IPHONE 5 MARK UP*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

	#nav {
		font-size: 50%;
		width: 100%;

	}

	#cssmenu {
	}


	#stay {
		width: 90%;
		margin-top: 11%;
		background-color: rgba(205, 204, 205, 0.4);
	}

	.page {
		height: 100%;
		background: url(../img/cbus.jpg) 0px 50% no-repeat center center fixed;;
		background-size: none;
	}

	.page2 {
		height:auto;
	}

	#interest {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;
	}
	#employer {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;
		margin-top: 2%;
	}
	#assignment {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;
		margin-top: 2%;

	}
	#apple {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;
	}
	#mblock {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;

	}
	#code {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 90%;
		overflow: hidden;
	
	}
	.iframe-outer {
    display: inline-block;
    position: relative;
    width: 50%;
}

    .iframe-outer:after {
        content: '';
        display: block;
        margin-top: 100%;
    }

.iframe-inner {
    overflow: hidden;
    border-radius: 5000px;
    transition: all ease .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .iframe-inner iframe {
        height: 120%;
        width: 120%;
    }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

	#stay {
		width: 70%;
	}

	.page {
		height: 100%;
		background: url(../img/blur_background_flip.jpg);

	}

	.page2 {
		height: 100%;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

	#stay {
		width: 50%;
	}

}