@font-face {
	font-family: bq; src: url('bq.otf');
}
@font-face{
	font-family: segoeuil; src: url('segoeuil.ttf');
}
body 
{

    font-family: segoeuil;

}

#cssmenu {
  width: auto;
  background: #000;
  opacity: 1;
  padding-top: 0px;
  margin-top: 0px;
  position: fixed; left: 0; right: 0; z-index: 100000;
  display: inline-block;
  border-bottom: black .07em solid;
}

#nav {
    width: 70%;
    margin: auto;
   text-align: center;


}



#facebook:hover {
    color:#3b5998;
}

#twitter:hover {
    color:#55acee; 
}

#linkedIn:hover {
    color:#069;
}

#homes:hover {
    color: gray;
}
#nav p {
 
}

.footballImg {
    float: left;
    padding-top: .3%;
    padding-left: 1%;
}

.navContent {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding-left: .5%;

}

.navContent1 {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  text-align: center;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
  padding-left: .5%;
  display: inline-block;

}


.navContent2 {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 70%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  text-align: center;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
  padding-left: .5%;

}

#cssmenu ul {
  list-style: none;
  margin: auto;
  position: relative;
  width: 70%;
  padding: 0;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  transition: background 4s linear;
  -webkit-transition: background 4s linear;
  -moz-transition: background 4s linear;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
}
#cssmenu ul li a  {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}
